**Descriptive Statistics -**

we want the description of the dataset or Summarization the given data

Following are the  multiple ways to Summarize the Data:

i.  Mean

ii. Median

iii.Mode

iv. Std Devaition and Variance.


Understanding of **Measure of Central Tendency**:

Three types of **Measure of Central tendencies are **

i.Mean - Finding the avg

Ex : Mean is used when we are having Numerical Data

ii.Median - Finding the Middle value

Ex: Median is used when we are having Numerical Data

iii.Mode - Highest frequency value.
Example of Mode : categorical data always uses Mode

In practical real time use cases  Mode is used for the Categorical Data.

**Calculation of Mean**

In [1]:
lst =[4,8,6,5,3,8,9,8,2]
mean=4+8+6+5+3+8+9+8+2/9
print(mean)

51.22222222222222

** Calculation of Median**

In [ ]:
median=[2,3,4,5,6,8,8,8,9] #Sort the Numbers from the list lst

median =6 ## Take the middle nuber as the Median

In [ ]:
#Finding Median for the below Data
median=[2,3,4,5,6,6,8,8,8,9]
#Then take the Average of the middle two numbers. that gives the median

median =6+6/2 =6
median=6

**Calculation of Mode**

In [ ]:
lst =[4,8,6,5,3,8,9,8,2]

#Themost frequently occuring number or the Highest Frequency number in the List
mode=8 #Sinc eit occurs 3 times

**Outliers :** These are the exceptional values or external values.

Interview Question:There is data and Data Imputation needs to be done for the missing values. This data has outliers. Which " measure of Central Tendency" can be used?

A.**Median** method is used as it is more roboust to the **Outliers**.

Ex:

Salary=[1LPA,8LPA,15LPA,12LPA,10LPA,1cr]

mean=[1+8+15+12+10+100]/6 =62.6 ## This gives the wrong Mean value as it has outliers included in the calculation. Hence " Mean" is not the Right method.

Median=[15+12]/2=27.2

So **Median** is the Roboust method for **Outliers**

**Measure of Dispersion** (Spread of a given Data)

Normal Distribution Curve : A **Bell** shaped curve is a **Normal Distribution Curve**

Mean  - It is central value of Normal Distribution.
With Respect to this mean we see how much the Data is spread.

Multiple measures are used to check the spread of the Data:

1. Range--> it is the differenc ebetween the Maximium and Minimum value.

Maxima- Minima ==>range

**Measure of Dispersion -- Range**

Find the Range of the below scores

In [5]:
scores=[56,64,75,80,83,90,92,95,98,100]
#To find the Range for the above score
#1.Find the Minimum score =56
#2. Find the Maximum score =100

Range=(100-56)
print(Range)

44

Interpretation of the above calculation:

1. It gives the sense of Variability (variation between the maximum and minimum values)in the given data set

2. How far the data points are spread

**Range is more sensitive to outliers.**

Measure of Dispersion -- IQR--Practical real time use cases IQR is used.

IQR --Inter Quartile Range

IQR =Q3- Q1  ==> Q3=75 percentile
                 Q1=25 Percentile
                 Q2 =50 percentile

what is the IQR of
scores=[56,64,75,80,83,90,92,95,98,100]

In [17]:
scores=[56,64,75,80,83,90,92,95,98,100]

In [28]:
# How to find Q1 from scores data set
n=10 #(Number of elemnts in the list 'scores')

#Q2 =50 percentile which is Equal to the Median#
Q2 =83+90

In [29]:
Q2/2

86.5

In [25]:
# To Calculate Q1 considere the lLeft side data
#Steps :

 # 1 Consider the Left n/2 values
first_half_list = [56,64,75,80,83]
#middle_value of first_half_list

Q1 = 75

In [26]:
# To Calculate Q3 considere the Right side data
#Steps :

 # 1 .Consider the Right n/2 values
sec_half_list = [90,92,95,98,100]
#middle_value of sec_half_list

Q3=95

In [27]:
#Calculate the IQR for scores Data set =
IQR=Q3-Q1
IQR

20

In [ ]:
IQR

IQR is not influenced by the Outliers.

In the aove calculation of IQR =20 means that the middle 50% of the test scores are within 20 points of each other,giving a better understanding of the students performance without being influenced by the outliers

**Key takeaway:**

**Range** provide the quick sense of Variability,but it is sensitive to Outliers

**IQR **is a robust measure of dispersion  which is ideal for those datasets which contains Outliers

**Variance** - It is the overall spread of the Dataset w.r.t to the Mean values.

sigma**2 (Population Variance) --mu --> Indicates the Population mean.

In Population variance we divide the Nr/ N

Population variance = Summation(1->N(xi-mu)**2/N


S**2(Sample Square) ---x**bar --> Indicates the sample mean
In Sample Variance we divide the Nr / n-1

Sample variance = Summation(1->n(xi-x**bar)**2/n-1


We see that in both Population and Sample Variance the difference of each value is found w.r.t to mean.

mu(Population Mean)=summation(1 to N(xi)/N

x**bar(Sample Mean)=summation(1 to n(xi)/n-1

In [ ]:
sales_data_for_a_month=[100,150,200,150,130,170,160,180,190,170]

In [31]:
##To calclate the sample_variance first calculate the X**bar

x_bar =(100+150+200+150+130+170+160+180+190+170)/10
x_bar =160
#Now find the difference between each value an dthe mean

(100-160)**2 + (150-160)**2 + (200-160)**2 + (150-160)**2 + (130-160)**2 + (170-160)**2 + (160-160)**2 + (180-160)**2  + (190-160)**2 + (170-160)**2/9


7700/9

855.5555555555555

In [33]:
import numpy as np
np.sqrt(855.56) ##There is a daily sales deviate from the mean by 30$

#This means that there variation of 30$ from the mean by +30 or -30.

##mu -StdDevaition ==> 90-30 or 90+30 where mu=90 and std =30

np.float64(29.249957264926046)

To get the variance value ..we find do teh square of the difference between(xi-mu)..this is done , to emphasis the variance

Emperical Rule:

In the range of mu+sigma and mu-sigma  ===> 68% of the Data lies


In the range of mu+2*sigma and mu-2*sigma  ===> 95% of the Data lies

In the range of mu+3*sigma and mu-3*sigma  ===> 99.7% of the Data lies

If any data point that lies outside mu-3*sigma and  mu+3*sigma then that data point is an Outlier.

**Implementation**

In [36]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [37]:
dataset=pd.read_csv('/content/weight-height.csv')

In [38]:
dataset.head()

  Gender     Height      Weight
0   Male  73.847017  241.893563
1   Male  68.781904  162.310473
2   Male  74.110105  212.740856
3   Male  71.730978  220.042470
4   Male  69.881796  206.349801

In [40]:
height_range=dataset['Height'].max()  - dataset['Height'].min()

In [41]:
height_range

24.735609021292504

In [ ]:
#IQR(Inter Quartile range)

In [42]:

Q1 =dataset['Height'].quantile(0.25)
Q3= dataset['Height'].quantile(0.75)

In [45]:
Height_IQR=Q3-Q1

In [46]:
Height_IQR

np.float64(5.668641245615746)

Variance

In [47]:
weight_variance=dataset['Weight'].var()
print(weight_variance)

1030.951855435386

Standard Deviation

In [48]:
weight_STD=dataset['Weight'].std()
print(weight_STD)

32.108439006519546

Measures of Central Tendency

In [49]:
avg_height=dataset['Height'].mean()
print(avg_height)

66.36755975482124

In [50]:
median_height=dataset['Height'].median()
print(median_height)

66.31807008178464

In [51]:
mode_height=dataset['Height'].mode()
print(mode_height)

0       54.263133
1       54.616858
2       54.873728
3       55.148557
4       55.336492
          ...
9995    78.095867
9996    78.462053
9997    78.528210
9998    78.621374
9999    78.998742
Name: Height, Length: 10000, dtype: float64

Why it is N in the denominator for the STD Deviation for Population Data and (n-1) for the STD Deviation for Sample Data?

A..We know that

x_bar approximately equal to mu (Mean for Sample and Population respectively)

S approximately equal to Sigma (STD Deviation  for Sample and Sigma is STD Deviation for Population respectively)

Now when the denominator for Sample STD  is taken as n instead of (n-1),it was obeserved that there is a significant difference in the Sample STD_Deviation and Population STD_Deviation,which is not correct.

Hence to ahandle this we take (n-1) for the Sample STD_Deviation instead of n.

with (n-1) we see that STD_Deviation_Samples and STD_Deviation_Population is approximately equal.

With this the Data is Unbiased.